################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Day1/.vs/Day1/v16
*.vcxproj
*.filters
*.user
*.sln
/Day1/Day1/Debug/Day1.tlog
/Day1/Day1/Debug
/Day1/Debug
